/*Reset Css*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/*Header*/

header {
    height: 70px;
    background-color: #FF6900;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

ul {
    display: flex;
    gap: 10px;
}

.box-header {
    height: 70px;
    align-items: center;
    justify-content: space-around;
}

.icon-header {
    gap: 20px;
}

.logo {
    height: 30px;
    width: 50px;
    margin-right: 200px;

}

/*Generics*/

a {
    color: white;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.img-card {
    width: 400px;
    display: block;
}

.img-2 {
    display: none;
    width: 400px;

}

.change-img:hover .img-card {
    display: none;
}

.change-img:hover .img-2 {
    display: block
}

h3,
h4 {
    margin-bottom: 10px;
}


/*Utils*/

.col-white {
    color: white;
}

.d-flex {
    display: flex;
}

.bgcol-red {
    background-color: #FF0000;
}

.bgcol-green {
    background-color: green;
}

.col-red {
    color: #FF0000;
}

.initial-price {
    text-decoration: line-through;
}

.sm-margin-top {
    padding-top: 5px;
}

.fa-heart {
    font-size: 20px;
    cursor: pointer;

}

.fa-heart:hover {
    color: #FF0000;
}

/*Main*/
.container {
    margin: 70px auto;
}

.row {
    gap: 10px;
    flex-direction: row;
    justify-content: center;
}

.card {
    position: relative;
}

.discount {
    position: absolute;
    bottom: 50px;
    left: 0;
    padding: 5px 10px
}

.eco {
    position: absolute;
    bottom: 50px;
    left: 50px;
    padding: 5px 10px;
    margin-left: 10px;

}

.add-like-list {
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    padding: 20px;
}

/*Footer*/

.footer-box {
    height: 100px;
    background-color: #1A1A1A;
    justify-content: space-around;
    align-items: center;
}

/*Fine esercizio*/